parameters:
    level: max

    paths:
        - .

    excludePaths:
        - vendor/*
        - var/*
        - tests/*
        - node_modules/*
        - bin/*
        - public/check.php
        - public/comet_api
        - DependencyInjection/Configuration.php

    checkGenericClassInNonGenericObjectType: false

    checkMissingIterableValueType: false
