parameters:
    level: max

    paths:
        - .

    excludePaths:
        - vendor/* (?)
        - var/* (?)
        - tests/* (?)
        - node_modules/* (?)
        - bin/* (?)
        - public/check.php (?)
        - DependencyInjection/Configuration.php (?)

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            identifier: trait.unused
