<nav>
    <div class="badges clearfix text-wrap mb-3 font-1-5-rem">
        {% if organization.parentOrganization is defined and organization.parentOrganization %}
            <a href="{{ path('oswis_org_oswis_address_book_organization', {'slug': organization.parentOrganization.slug}) }}" class="badge badge-success">
                {{ navEvent.getShortName }}
            </a>
        {% endif %}
        {% for subOrganization in organization.subOrganizations|default %}
            <a href="{{ path('oswis_org_oswis_address_book_organization', {'eventSlug': subOrganization.slug}) }}" class="badge badge-light">
                {{ navEvent.getShortName }}
            </a>
        {% endfor %}
    </div>
</nav>
