<div class="row">
    <h3>Aktuální tým</h3>
    {% for contact in organization.members|default %}
        {% include '@ZakjakubOswisAddressBook/web/parts/organization-person-profile.html.twig' %}
    {% else %}
        <div class="col-12">
            <p>Aktuálně nejsou k dispozici žádné kontakty k zobrazení.</p>
        </div>
    {% endfor %}
</div>
