{% if positions|default and positions|length > 0 %}
    <div class="container-fluid">
        <header class="row">
            <div class="col-12 mt-5">
                <h3>Aktuální tým</h3>
            </div>
        </header>
        <main class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-1 g-md-2 g-lg-3 g-xl-4">
            {% for position in positions|sort((a, b) => b.startDateTime <=> a.endDateTime) %}
                {% include '@OswisOrgOswisAddressBook/web/parts/organization-person-profile.html.twig' with {'contact': position.person} %}
            {% else %}
                <div class="col-12 my-5">
                    <p>Aktuálně nejsou k dispozici žádné kontakty k zobrazení.</p>
                </div>
            {% endfor %}
        </main>
    </div>
{% endif %}
