{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block body_content %}
    <main class="container" id="main-content-container" itemscope itemtype="http://schema.org/Organization">
        {% if organization is defined and organization %}
            <div>
                {% include '@OswisOrgOswisAddressBook/web/parts/organization-info.html.twig' %}
                {% include '@OswisOrgOswisAddressBook/web/parts/organization-person-profiles.html.twig' %}
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block body_breadcrumbs %}
    {% if organization is defined and organization %}
        {% include '@OswisOrgOswisAddressBook/web/parts/organization-breadcrumbs.html.twig' %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock body_breadcrumbs %}
