<!DOCTYPE html>
<html lang='cs-CZ' dir="ltr" style="width: 100%; margin: 0; padding: 0; min-height: 100%;">
<!-- Jakub Zak, https://jakubzak.cz -->
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='format-detection' content='telephone=yes'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0'>
    <meta name='author' content='Jakub Žák'>
    <meta property='copyright' content='Přírodovědecká fakulta Univerzity Palackého v Olomouci'>
    <meta name='generator' content='OSWIS - One Simple Web IS'>
    <meta name='Description' content='{% block description %}Rezervační systém PřF UP{% endblock %}'>
    <meta name='Keywords' content='univerzita palackého,olomouc,přírodovědecká fakulta,rezervační,ubytování'>
    <meta name='Designer' content='Jakub Žák'>
    <meta name='Revisit-After' content='1 day'>
    <meta name='geo.position' content='49.5922829,17.2633168'>
    <meta name='ICBM' content='49.5922829,17.2633168'>
    <meta name='DC.Language' content='cs-cz'>
    <title>{% block title %}Rezervační systém PřF UP{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="60x60" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://prf.upol.cz/fileadmin/up/favis/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://prf.upol.cz/fileadmin/up/favis/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://prf.upol.cz/fileadmin/up/favis/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://prf.upol.cz/fileadmin/up/favis/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://prf.upol.cz/fileadmin/up/favis/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#EB6D25">
    <meta name="msapplication-TileImage" content="https://prf.upol.cz/fileadmin/up/favis/ms-icon-144x144.png">
    <meta name="theme-color" content="#EB6D25">
    <style type='text/css'>
        table, td, tr, div, p, span {
            font-size: 14px;
            text-align: justify;
        }

        a {
            color: #5D5E60;
            text-decoration: none !important;
            padding: 0;
            margin: 0;
        }

        h1, h2, h3 {
            color: #eb6d25;
        }

        @media print {
            body {
                font-size: 11px;
                color: black;
            }

            #logo {
                width: 60%;
                max-width: 7cm;
            }

            div, p, li {
                text-align: justify;
                margin-top: 0.5em;
                margin-bottom: 0.2em;
            }

            @page {
                size: portrait;
                margin: 10mm 10mm;
            }

            * {
                margin: 0;
                padding: 0;
            }
        }
    </style>
</head>
<body color='#5D5E60' style='font-size: 14px;color: #5D5E60;box-sizing: content-box;width: 100%;margin: 0 0; padding: 0;'>

<table color='#5D5E60' style='background-color: rgba(235, 109, 37, 0.1);font-size: 14px;
       color: #5D5E60;box-sizing: content-box;width: 100%;height: 100%; margin: 0; padding: 0; '>
    <tr style="box-sizing: content-box;width: 100%;height: 100%; margin: 0; padding: 0;">
        <td style="box-sizing: content-box;width: 100%;height: 100%; margin: 0; padding: 0;">
            {% block content %}
                Nastala chyba. Obsah zprávy nebyl načten. Kontaktujte nás, prosím.
            {% endblock %}
            <br>
            <table style="text-align:center;font-size:8.5px;margin-top:30px;margin-bottom:0;padding-bottom:0;color:#eb6d25;">
                <tr style="margin-bottom:0;padding-bottom:0;">
                    <td style="font-size:8.5px;margin-bottom:0;padding-bottom:0;">
                        <small>
                            Technické řešení pro
                            <a href="https://prf.upol.cz" target="_blank" color="#eb6d25" style="color:#eb6d25;"
                               title="Přírodovědecká fakulta Univerzity Palackého v Olomouci">Přírodovědeckou fakultu Univerzity Palackého
                                v Olomouci</a> vytvořil
                            <a href="https://jakubzak.cz" title="Jakub Žák" target="_blank" color="#eb6d25" style="color:#eb6d25;">Jakub Žák</a>.
                        </small>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<!-- Jakub Zak, https://jakubzak.cz -->
</body>
</html>
