{% extends '@ZakjakubOswisAccommodation/e-mail/message.html.twig' %}
{% block title %}
    Nová platba u rezervace
{% endblock %}
{% block description %}
    U Vaší rezervace byla přidána nová platba.
{% endblock %}
{% block content %}
    <table style="width:90%; min-width:300px; max-width:800px; margin:10px auto; text-align:justify;">
        <tr>
            <td colspan="2">
                <p>
                    Dobrý den,

                    u Vaší rezervace byla {{ (payment.numericValue > 0) ? ' přijata ' : ' vydána ' }}
                    platba ve výši {{ payment.numericValue }},- Kč.
                </p>
                <p>
                    Doklad naleznete v příloze.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                    <small color="#eb6d25" style="font-size:0.7em;color:#eb6d25;">
                        Tento e-mail byl vygenerován a zaslán automaticky rezervačním systémem.
                    </small>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}




